<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpEndPointBindingConfig" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WcfServiceLibrary.ServerChatService"
               behaviorConfiguration  ="NetTcpBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9999/WcfServiceLibrary/ServerChatService/" />
          </baseAddresses>
        </host>
        <endpoint name="NetTcpEndPoint"
                  address=""
                  binding="netTcpBinding"
                  contract="WcfServiceLibrary.IChatService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint
          name="NetTcpMetadataEndPoint"
          address="mex"
          binding="mexTcpBinding"
          contract="IMetadataExchange" />
      </service>

      <service name="WcfServiceLibrary.WillWcfService"
               behaviorConfiguration  ="HttpBehavior">
        <endpoint name ="HttpEndPoint"
                  address=""
                  binding="basicHttpBinding"
                  contract="WcfServiceLibrary.IWillWcfService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/WillWcfService/" />
          </baseAddresses>
        </host>
      </service>

      <!--
      <service name="WcfServiceLibrary.JudyWcfService"
               behaviorConfiguration  ="NetTcpBehavior">
        <endpoint address="net.tcp://localhost:9999/WcfServiceLibrary/JudyWcfService/"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpEndPointBindingConfig"
                  contract="WcfServiceLibrary.IJudyWcfService"
                  name="NetTcpEndPoint">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint
          name="NetTcpMetadataEndPoint"
          address="mex"
          binding="mexTcpBinding"
          contract="IMetadataExchange" />
      </service>
      -->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NetTcpBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata 
                           httpGetEnabled="False"
                           httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior name="HttpBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"
                           httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>